/* index.html */
:root {
    --red: #E5252E;
    --white: #FFFFFF;
    --black: #000000;
    --silver: #C7C7C7;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 200px;
    --menu-desktop-padding: 18px;
    --menu-mobile-padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    background: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Navbar */
.navbar {
    background: #333;
    padding: 0.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}

.product-card {
    padding: 12px;
    width: var(--card-size);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}
.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--silver);
}